body, html {	
	height: 100%;
	width: 100%;
	background:repeating-linear-gradient(
		to right,
		#F0F0F3,
		#F0F0F3 10px,
		#EEEEEE 10px,
		#EEEEEE 20px
	      );;
}

.content {
  min-height: calc(100vh - 153px);
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.lead {
	font-size: 18px;
	font-weight: 400;
}

a.navbar-brand, ul.nav.navbar-nav>li>a {
	color: white!important;
}

a.navbar-brand:hover, ul.nav.navbar-nav>li>a:hover {
	color: #F9BF3B!important;
}

nav.navbar {
	background-color: #22313F;
}

.intro-header {
	padding-top: 80px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 50px;
	color: #f8f8f8;
	background: url(../img/platypus_inhabitant.jpg) no-repeat bottom center;
	/*background: #67809F;*/
	background-size: cover;
	text-align: center;
}

.intro-message {
	position: relative;
	padding-top: 10%;
	padding-bottom: 5%;
	
}

.intro-message > h1 {
	margin: 0;
	font-size: 5em;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}

.intro-divider {
	width: 500px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

a.btn-transparent {
	color: #FFF;
	border: solid 2px #FFF;
	border-radius: 4px;
	font-weight: 800;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
	transition: all 0.1s;
	webkit-transition: all 0.1s;
}

a.btn-transparent:hover {
	color: #FFF!important;
	background-color: rgba(255, 255, 255, 0.4);
	/* border-color: rgb(211, 84, 0); */
}

@media (max-width: 767px) {
	.intro-message {
		padding-bottom: 15%;
	}

	.intro-message > h1 {
		font-size: 3em;
	}

	ul.intro-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.intro-social-buttons > li:last-child {
		margin-bottom: 0;
	}

	.intro-divider {
		width: 100%;
	}
}

.network-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px;
}

.content-section-a {
	background:repeating-linear-gradient(
		to right,
		#F0F0F3,
		#F0F0F3 10px,
		#EEEEEE 10px,
		#EEEEEE 20px
	      );
	/* background: #22313F; */
	padding: 50px 0px;
	border-top: solid 1px #FFF;
}

.content-section-b {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	background: #67809F;
	padding: 0px 0px 50px 0px;
	color: white;
}

.section-heading {
	margin-bottom: 30px;
}

.section-heading-spacer {
	border-top: 3px solid #e7e7e7;
	width: 200px;
	float: left;
}

.banner {
	padding: 100px 0;
	color: #f8f8f8;
	background: url(../img/banner-bg.jpg) no-repeat center center;
	/*background: #67809F;*/
	background-size: cover;
}

.banner h2 {
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	font-size: 3em;
}

.banner ul {
	margin-bottom: 0;
}

.banner-social-buttons {
	float: right;
	margin-top: 0;
}

@media (max-width: 1199px) {
	ul.banner-social-buttons {
		float: left;
		margin-top: 15px;
	}	
}

@media (max-width: 767px) {
	.banner h2 {
		margin: 0;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
		font-size: 3em;
	}

	ul.banner-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.banner-social-buttons > li:last-child {
		margin-bottom: 0;
	}	
}

footer {
	border-top: solid 1px white;
	background-color: #22313F;
	padding: 50px 0;
}

p.copyright {
	margin: 15px 0 0;
	color: white;
}

div.featureTag  {
	text-align: center;
	transition: all 0.1s;
	webkit-transition: all 0.1s;
	cursor: pointer;
	color: white;
}

.content-section-a > div > div > div{
	color: #22313F;
}

div.featureTag.selected {
	color: #E9AF2B;
}

div.featureTag:hover  {
	color: #F9BF3B;
}

div.featureTag.no-click:hover, div.featureTag.no-click.selected {
	color: white;
	cursor: default;
}

div.featureTag > i {
	font-size: 52px;
	font-weight: normal;
}

div.featureDescription {
	margin-top: 25px;
	text-align: center;
	transition: all 0.3s;
	webkit-transition: all 0.3s;
	color: white;
}

div.featureDescription > p,  div.featureDescription > ul {
	font-weight: normal;
	text-align: left;
	font-size: large;
	padding-top: 15px;
}

pre {
	text-align: left;
	font-family: Menlo, Monaco, Consolas, "Courier New";
	font-weight: normal;
	background-color: white;
}

ul.list-inline>li>a {
	color: white;
}
ul.list-inline>li>a:hover {
	color: #F9BF3B;
}

/***** ### DOWNLOAD ### ***/
.intro-header.download {
	/*height: 150px;*/
	background: url(../img/platypus_inhabitant.jpg) no-repeat bottom center;
	background-size: cover;
	/*background: #67809F;*/
}

.intro-message.download {
	position: relative;
	padding-top: 7%;
	padding-bottom: 5%;
}