#logo {
	font: 2em Helvetica, Verdana, arial;
	/*color: #FFF;*/
	letter-spacing: 1px;
	font-weight: bold;
	padding: 0.2em 15px 2px;
}

#navigation {
	padding: 5px 5px 7px 3em;
	/*background-color: #CCC;*/
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	}

#navigation A {
	/*color: #255;*/
	font-size: 0.85em;
	/*font-weight: bold;
	text-decoration: none;*/
	letter-spacing: 1px;
	margin-right: 1em;
}
#navigation A:hover {
	color: #033;
	text-decoration: none;
}



/* Generic Classes */

.bold		{ font-weight: bold; }
.notBold	{ font-weight: normal; }
.italic		{ font-style: italic; }
.notItalic	{ font-style: normal; }

.noMargin		{ margin: 0; }
.noTopMargin	{ margin-top: 0; }
.noBottomMargin	{ margin-bottom: 0; }

.noPadding	{ padding: 0; }

.white		{ color: #FFF; }
.grey		{ color: #777; }
.red		{ color: #F00; }

.hidden {display:none}
.disclosure {
	cursor:pointer;
}
.disclosure.closed {
	background:url("../images/closed.png") no-repeat; 
}
.disclosure.open {
	background:url("../images/open.png") no-repeat; 
}

a.selected {
	font-weight:bold;
}


